<div class="bot1_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="bot1_title">交流合作</div>
        <ul class="ul1">
          <li><a href="https://gitee.com/whf15">Gitee</a></li>
          <li><a href="https://github.com/whf15">Github</a></li>
          <li><a href="https://www.bilibili.com/">bilibili</a></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <div class="bot1_title">关注微信</div>
        <img src="{{url_for('static',filename='base/images/qrcode.jpg')}}" alt="" class="img-responsive" height="120px" width="120px">  
      </div>
      <div class="col-sm-4">
        <div class="bot1_title">班级-姓名</div>
        <div class="txt1">18级软件工程创新班-吴昊锋</div>
        <div class="phone2">188 1947 ****</div>
      </div>
    </div>
  </div>
</div>

<div class="bot2_wrapper">
  <div class="container">
    <div class="left_side">
      Copyright &copy; 2021-2022, whf15, 该项目用于广东科技学院的毕业设计
    </div>
    <div class="right_side"></div>
  </div>
</div>

</div>
<script src="{{url_for('static',filename='base/js/script.js')}}"></script>
</body>
</html>
<!--底部结束-->