{% extends 'admin/admin.html' %}

{% block content %}
        <!--内容-->
        <section class="content-header">
            <h1>大学生出游网站后台管理系统</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
                <li class="active">控制面板</li>
            </ol>
        </section>
        <section class="content" id="showcontent">
            <div class="row">
                <div class="col-md-6">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">项目简介</h3>
                        </div>
                        <div class="box-body">
                            <p>
                                <b>大学生出游网站</b>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">特色版块</h3>
                        </div>
                        <div class="box-body" >
                            <p><b>景区分享</b></p>
		                    <p><b>景点</b></p>
                            <p><b>游记</b></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" >
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">内存分析</h3>
                        </div>
                        <div class="box-body">
                            <p id="meminfo" style="height:300px;"></p>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!--内容-->
{% endblock %}

{% block js %}
    <!-- <script src="{{ url_for('static',filename='js/echarts.min.js') }}"></script> -->
    <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
    <script>

    //const echarts = require('echarts');
    var dom = document.getElementById("meminfo");
    var myChart = echarts.init(dom);
    // var ecConfig = echarts.config;
    // const myChart = echarts.init(document.getElementById('meminfo'));
    option = {
		backgroundColor: "white",
		tooltip: {
			formatter: "{a} <br/>{b} : {c}%"
		},
		toolbox: {
			feature: {
				restore: {},
				saveAsImage: {}
			}
		},
		series: [{
			name: '内存使用率',
			type: 'gauge',
			detail: {
				formatter: '{value}%'
			},
			data: [{
				value: 50,
				name: '内存使用率'
			}]
		}]
	};
    setInterval(function () {
        option.series[0].data[0].value = (Math.random() * 100).toFixed(2) - 0;
        myChart.setOption(option, true);
    },2000);

</script>
    <script>
    $(document).ready(function(){
        $("#g-1").addClass("active");
        $("#g-1-1").addClass("active");
    });
</script>
{% endblock %}